Repository shoooong/Auction-Back, pull requests merged in 2024-06, with the labels that each got.

#3 Back / Login - JWT 토큰 재발행 기능 구현중
  backend/src/main/java/com/example/backend/Jwt/util/JWTUtil.java
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/UserController.java
Labels: ✨ FEAT, ⚙️ REFACTOR, 💾BackEnd

#4 Back / Login - UserRepository에 @RepositoryRestResource 어노테이션 추가
  backend/src/main/java/com/example/backend/repository/User/UserRepository.java
Labels: 💾BackEnd

#5 Back / dto 패키지 구조 변경
  backend/src/main/java/com/example/backend/controller/UserController.java
  backend/src/main/java/com/example/backend/dto/CustomDto.java
  backend/src/main/java/com/example/backend/dto/user/UserDTO.java
  backend/src/main/java/com/example/backend/security/CustomUserDetailsService.java
  backend/src/main/java/com/example/backend/security/filter/JWTCheckFilter.java
  backend/src/main/java/com/example/backend/security/handler/CustomLoginSuccessHandler.java
Labels: Config

#6 Feat_Register 자체 회원가입 기능 구현
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/UserController.java
  backend/src/main/java/com/example/backend/dto/user/UserRegisterDTO.java
  backend/src/main/java/com/example/backend/repository/User/UserRepository.java
  backend/src/main/java/com/example/backend/security/filter/JWTCheckFilter.java
  backend/src/main/java/com/example/backend/service/UserService.java
Labels: Config, ✨ FEAT, 💾BackEnd

#7 Backend: StyleFeedController, StyleFeedService 추가
  backend/src/main/java/com/example/backend/controller/feed/StyleFeedController.java
  backend/src/main/java/com/example/backend/service/StyleFeedService.java
Labels: Config, ✨ FEAT, 💾BackEnd

#8 Backend: StyleFeedDTO 추가, 좋아요 많은순으로 피드 조회 완료
  backend/src/main/java/com/example/backend/controller/feed/StyleFeedController.java
  backend/src/main/java/com/example/backend/dto/feed/StyleFeedDTO.java
  backend/src/main/java/com/example/backend/entity/StyleFeed.java
  backend/src/main/java/com/example/backend/repository/StyleFeed/StyleFeedRepository.java
  backend/src/main/java/com/example/backend/service/StyleFeedService.java
  backend/src/main/java/com/example/backend/service/StyleFeedServiceImpl.java
Labels: Config, ✨ FEAT, 💾BackEnd

#9 Back / category entity length 수정
  backend/src/main/java/com/example/backend/entity/Category.java
Labels: ⚙️ REFACTOR, 💾BackEnd

#10 Feat kakao
  .DS_Store
  backend/src/main/java/com/example/backend/BackendApplication.java
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/OrderController.java
  backend/src/main/java/com/example/backend/controller/UserController.java
  backend/src/main/java/com/example/backend/entity/BaseEntity.java
  backend/src/main/java/com/example/backend/entity/User.java
  backend/src/main/java/com/example/backend/security/filter/JWTCheckFilter.java
  backend/src/main/java/com/example/backend/service/UserService.java
  backend/src/main/java/com/example/backend/service/UserServiceImpl.java
Labels: Config, ✨ FEAT, 💾BackEnd

#11 back / 피드 수정, 삭제 기능 추가
  backend/src/main/java/com/example/backend/controller/feed/StyleFeedController.java
  backend/src/main/java/com/example/backend/entity/FeedBookmark.java
  backend/src/main/java/com/example/backend/entity/StyleFeed.java
  backend/src/main/java/com/example/backend/repository/FeedBookmark/FeedBookmarkRepository.java
  backend/src/main/java/com/example/backend/service/StyleFeedService.java
  backend/src/main/java/com/example/backend/service/StyleFeedServiceImpl.java
Labels: ✨ FEAT, 💾BackEnd

#12 back / 연관관계 테이블 삭제까지 완료
  backend/src/main/java/com/example/backend/controller/feed/StyleFeedController.java
  backend/src/main/java/com/example/backend/dto/feed/StyleFeedDTO.java
  backend/src/main/java/com/example/backend/repository/FeedBookmark/FeedBookmarkRepository.java
  backend/src/main/java/com/example/backend/repository/StyleFeed/StyleFeedRepository.java
  backend/src/main/java/com/example/backend/service/StyleFeedService.java
  backend/src/main/java/com/example/backend/service/StyleFeedServiceImpl.java
Labels: Config, ✨ FEAT, 💾BackEnd, 🛠FIX

#13 back / 관심피드 삭제까지 완료
  backend/src/main/java/com/example/backend/controller/feed/StyleFeedController.java
  backend/src/main/java/com/example/backend/service/StyleFeedService.java
  backend/src/main/java/com/example/backend/service/StyleFeedServiceImpl.java
Labels: ✨ FEAT, 💾BackEnd

#14 Feat
  backend/src/main/java/com/example/backend/controller/feed/StyleFeedController.java
Labels: ✨ FEAT, 💾BackEnd

#15 Back / Entity 컬럼 수정
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/entity/Draw.java
  backend/src/main/java/com/example/backend/entity/LuckyDraw.java
  backend/src/main/java/com/example/backend/security/filter/JWTCheckFilter.java
Labels: 🛠FIX

#16 Back / 럭키드로우 메인, 상세 데이터 조회
  backend/src/main/java/com/example/backend/controller/LuckyDrawController.java
  backend/src/main/java/com/example/backend/dto/luckyDraw/LuckyDrawsDTO.java
  backend/src/main/java/com/example/backend/repository/LuckyDraw/LuckyDrawRepository.java
  backend/src/main/java/com/example/backend/service/LuckyDrawService.java
  backend/src/test/java/com/example/backend/repository/LuckyDrawRepositoryTests.java
Labels: ✨ FEAT, 💾BackEnd
