Repository shoooong/Auction-Back, pull requests merged in 2024-07, with the labels that each got.

#18 Front / rename 작업
  backend/src/main/java/com/example/backend/Jwt/util/JWTUtil.java
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/LuckyDrawController.java
  backend/src/main/java/com/example/backend/controller/OrderController.java
  backend/src/main/java/com/example/backend/controller/UserController.java
  backend/src/main/java/com/example/backend/dto/luckyDraw/DrawDTO.java
  backend/src/main/java/com/example/backend/dto/user/UserDTO.java
  backend/src/main/java/com/example/backend/dto/user/UserModifyDTO.java
  backend/src/main/java/com/example/backend/dto/user/UserRegisterDTO.java
  backend/src/main/java/com/example/backend/entity/Account.java
  backend/src/main/java/com/example/backend/entity/Address.java
  backend/src/main/java/com/example/backend/entity/Draw.java
  backend/src/main/java/com/example/backend/entity/LuckyDraw.java
  backend/src/main/java/com/example/backend/entity/User.java
  backend/src/main/java/com/example/backend/repository/LuckyDraw/DrawRepository.java
  backend/src/main/java/com/example/backend/repository/User/AddressRepository.java
  backend/src/main/java/com/example/backend/repository/User/UserRepository.java
  backend/src/main/java/com/example/backend/security/CustomUserDetailsService.java
  backend/src/main/java/com/example/backend/security/CustomUserService.java
  backend/src/main/java/com/example/backend/security/filter/JWTCheckFilter.java
  backend/src/main/java/com/example/backend/security/handler/CustomLoginSuccessHandler.java
  backend/src/main/java/com/example/backend/service/LuckyDrawService.java
  backend/src/main/java/com/example/backend/service/UserService.java
  backend/src/main/java/com/example/backend/service/UserServiceImpl.java
Labels: 💾BackEnd, 🛠FIX

#19 Back / AddressDTO 추가
  backend/src/main/java/com/example/backend/dto/user/AddressDTO.java
Labels: 💾BackEnd

#20 코드 추가
  backend/src/main/java/com/example/backend/dto/user/UserDTO.java
  backend/src/main/java/com/example/backend/service/DrawService.java
Labels: 💾BackEnd

#21 Back / AddressService 추가
  backend/src/main/java/com/example/backend/service/AddressService.java
Labels: 💾BackEnd

#22 back / 일반 공지사항 완료
  backend/src/main/java/com/example/backend/controller/AlarmController.java
  backend/src/main/java/com/example/backend/controller/Notice/NoticeController.java
  backend/src/main/java/com/example/backend/controller/feed/StyleFeedController.java
  backend/src/main/java/com/example/backend/dto/Notice/NoticeDto.java
  backend/src/main/java/com/example/backend/entity/Notice.java
  backend/src/main/java/com/example/backend/repository/Announcement/AnnouncementRepository.java
  backend/src/main/java/com/example/backend/repository/Notice/NoticeRepository.java
  backend/src/main/java/com/example/backend/service/NoticeService.java
  backend/src/main/java/com/example/backend/service/NoticeServiceImpl.java
  backend/src/test/java/com/example/backend/repository/FeedRepositoryTests.java
Labels: ✨ FEAT, 💾BackEnd

#24 Feat_address 배송지 등록 및 수정 기능 구현
  backend/src/main/java/com/example/backend/controller/MypageController.java
  backend/src/main/java/com/example/backend/dto/mypage/addressSettings/AddressDTO.java
  backend/src/main/java/com/example/backend/dto/mypage/addressSettings/AddressDto.java
  backend/src/main/java/com/example/backend/dto/mypage/addressSettings/AddressReqDto.java
  backend/src/main/java/com/example/backend/entity/Address.java
  backend/src/main/java/com/example/backend/repository/Address/AddressRepository.java
  backend/src/main/java/com/example/backend/service/AddressService.java
Labels: ✨ FEAT, 💾BackEnd

#25 Fix_luckydraw
  backend/src/main/java/com/example/backend/repository/LuckyDraw/DrawRepository.java
  backend/src/main/java/com/example/backend/repository/LuckyDraw/LuckyDrawRepository.java
  backend/src/main/java/com/example/backend/service/DrawService.java
  backend/src/main/java/com/example/backend/service/LuckyDrawService.java
Labels: ✨ FEAT, 💾BackEnd, 🛠FIX

#30 전역 예외 처리 핸들러 및 addressReqDto 유효성 검증 추가
  backend/build.gradle
  backend/src/main/java/com/example/backend/controller/MypageController.java
  backend/src/main/java/com/example/backend/dto/mypage/addressSettings/AddressReqDto.java
  backend/src/main/java/com/example/backend/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/example/backend/repository/Address/AddressRepository.java
  backend/src/main/java/com/example/backend/service/AddressService.java
Labels: Config, ✨ FEAT, 💾BackEnd, 🛠FIX

#33 Back / 럭키드로우 시큐리티 경로 설정
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/security/filter/JWTCheckFilter.java
Labels: 🚨 HOTFIX, ⚙️ REFACTOR, 💾BackEnd

#34 Back / 배포test
  backend/src/test/java/com/example/backend/repository/AlarmRepositoryTests.java
Labels: Config, 💾BackEnd, 🛠FIX

#35 Dev
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/announcement/LuckyDrawAnnouncementController.java
  backend/src/main/java/com/example/backend/controller/feed/StyleFeedController.java
  backend/src/main/java/com/example/backend/controller/inquiry/inquiryController.java
  backend/src/main/java/com/example/backend/controller/notice/NoticeController.java
  backend/src/main/java/com/example/backend/security/filter/JWTCheckFilter.java
  backend/src/test/java/com/example/backend/repository/AlarmRepositoryTests.java
Labels: 🚨 HOTFIX

#37 back / feed, inquiry 엔드포인트 변경
  backend/src/main/java/com/example/backend/controller/announcement/LuckyDrawAnnouncementController.java
  backend/src/main/java/com/example/backend/controller/feed/StyleFeedController.java
  backend/src/main/java/com/example/backend/controller/inquiry/inquiryController.java
  backend/src/main/java/com/example/backend/controller/notice/NoticeController.java
  backend/src/main/java/com/example/backend/service/feed/StyleFeedServiceImpl.java
Labels: ⚙️ REFACTOR, 💾BackEnd

#38 Back / 회원정보 수정 시 로그인 안되는 오류 해결
  backend/src/main/java/com/example/backend/dto/user/UserDTO.java
  backend/src/main/java/com/example/backend/entity/Users.java
  backend/src/main/java/com/example/backend/repository/User/UserRepository.java
  backend/src/main/java/com/example/backend/service/UserService.java
  backend/src/main/java/com/example/backend/service/UserServiceImpl.java
Labels: 💾BackEnd, 🛠FIX

#39 Back / shouldNotFilter, SecurityFilterChain 경로 설정 수정 및 인증 객체 비밀번호 "" 저장하도록 수정
  backend/src/main/java/com/example/backend/Jwt/util/JWTUtil.java
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/security/CustomUserDetailsService.java
  backend/src/main/java/com/example/backend/security/filter/JWTCheckFilter.java
  backend/src/main/java/com/example/backend/security/handler/CustomAccessDeniedHandler.java
  backend/src/main/java/com/example/backend/security/handler/CustomLoginFailHandler.java
  backend/src/main/java/com/example/backend/security/handler/CustomLoginSuccessHandler.java
Labels: Config, 💾BackEnd, 🛠FIX

#40 Dev
  backend/src/main/java/com/example/backend/Jwt/util/JWTUtil.java
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/config/KafkaConsumerConfig.java
  backend/src/main/java/com/example/backend/config/KafkaProducerConfig.java
  backend/src/main/java/com/example/backend/controller/announcement/LuckyDrawAnnouncementController.java
  backend/src/main/java/com/example/backend/controller/feed/StyleFeedController.java
  backend/src/main/java/com/example/backend/controller/inquiry/inquiryController.java
  backend/src/main/java/com/example/backend/controller/notice/NoticeController.java
  backend/src/main/java/com/example/backend/dto/user/UserDTO.java
  backend/src/main/java/com/example/backend/entity/Users.java
  backend/src/main/java/com/example/backend/repository/User/UserRepository.java
  backend/src/main/java/com/example/backend/security/CustomUserDetailsService.java
  backend/src/main/java/com/example/backend/security/filter/JWTCheckFilter.java
  backend/src/main/java/com/example/backend/security/handler/CustomAccessDeniedHandler.java
  backend/src/main/java/com/example/backend/security/handler/CustomLoginFailHandler.java
  backend/src/main/java/com/example/backend/security/handler/CustomLoginSuccessHandler.java
  backend/src/main/java/com/example/backend/service/UserService.java
  backend/src/main/java/com/example/backend/service/UserServiceImpl.java
  backend/src/main/java/com/example/backend/service/feed/StyleFeedServiceImpl.java
Labels: 💾BackEnd, 💡cicd

#41 Backend / 기존 응답Dto 구조변경
  backend/src/main/java/com/example/backend/controller/AdminController.java
  backend/src/main/java/com/example/backend/dto/admin/AdminProductDto.java
  backend/src/main/java/com/example/backend/dto/admin/AdminProductRespDto.java
  backend/src/main/java/com/example/backend/dto/admin/AdminRespDto.java
  backend/src/main/java/com/example/backend/repository/Product/AdminProductImpl.java
  backend/src/main/java/com/example/backend/service/AdminService.java
Labels: Config, ✨ FEAT, 💾BackEnd

#42 Back / feat : 마이페이지_프로필관리 쿠키에 저장된 정보가 아닌 새롭게 정보 불러오도록 Get 요청 추가
  backend/src/main/java/com/example/backend/controller/MypageController.java
Labels: ✨ FEAT, 💾BackEnd

#47 back / 1:1 문의 등록 추가
  backend/src/main/java/com/example/backend/controller/announcement/LuckyDrawAnnouncementController.java
  backend/src/main/java/com/example/backend/controller/feed/StyleFeedController.java
  backend/src/main/java/com/example/backend/controller/inquiry/inquiryController.java
  backend/src/main/java/com/example/backend/controller/notice/NoticeController.java
  backend/src/main/java/com/example/backend/repository/Inquiry/InquiryResponseRepository.java
  backend/src/main/java/com/example/backend/service/inquiry/InquiryService.java
  backend/src/main/java/com/example/backend/service/inquiry/InquiryServiceImpl.java
Labels: ✨ FEAT, 💾BackEnd

#48 Back / fix : Address 컬럼 및 관련 속성 변경
  backend/src/main/java/com/example/backend/controller/MypageController.java
  backend/src/main/java/com/example/backend/dto/mypage/addressSettings/AddressDto.java
  backend/src/main/java/com/example/backend/dto/mypage/addressSettings/AddressReqDto.java
  backend/src/main/java/com/example/backend/entity/Address.java
  backend/src/main/java/com/example/backend/repository/Address/AddressRepository.java
  backend/src/main/java/com/example/backend/service/AddressService.java
Labels: 💾BackEnd, 🛠FIX

#49 Dev
  backend/src/main/java/com/example/backend/config/RedisConfig.java
  backend/src/main/java/com/example/backend/controller/AlarmController.java
  backend/src/main/java/com/example/backend/controller/MypageController.java
  backend/src/main/java/com/example/backend/controller/announcement/LuckyDrawAnnouncementController.java
  backend/src/main/java/com/example/backend/controller/feed/StyleFeedController.java
  backend/src/main/java/com/example/backend/controller/inquiry/inquiryController.java
  backend/src/main/java/com/example/backend/controller/notice/NoticeController.java
  backend/src/main/java/com/example/backend/dto/mypage/addressSettings/AddressDto.java
  backend/src/main/java/com/example/backend/dto/mypage/addressSettings/AddressReqDto.java
  backend/src/main/java/com/example/backend/entity/Address.java
  backend/src/main/java/com/example/backend/repository/Address/AddressRepository.java
  backend/src/main/java/com/example/backend/repository/Inquiry/InquiryResponseRepository.java
  backend/src/main/java/com/example/backend/repository/alarm/AlarmRepository.java
  backend/src/main/java/com/example/backend/service/AddressService.java
  backend/src/main/java/com/example/backend/service/alarm/AlarmService.java
  backend/src/main/java/com/example/backend/service/inquiry/InquiryService.java
  backend/src/main/java/com/example/backend/service/inquiry/InquiryServiceImpl.java
Labels: Config, 💾BackEnd, 🛠FIX, 💡cicd

#50 back/상품 대분류별 조회
  .idea/.gitignore
  .idea/Auction-Back.iml
  .idea/compiler.xml
  .idea/dataSources.xml
  .idea/gradle.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/modules/backend.main.iml
  .idea/modules/backend.test.iml
  .idea/vcs.xml
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/AdminController.java
  backend/src/main/java/com/example/backend/dto/admin/AdminProductDto.java
  backend/src/main/java/com/example/backend/dto/admin/ProductRespDto.java
  backend/src/main/java/com/example/backend/repository/Product/AdminProduct.java
  backend/src/main/java/com/example/backend/repository/Product/AdminProductImpl.java
  backend/src/main/java/com/example/backend/service/AdminService.java
Labels: ✨ FEAT, 💾BackEnd

#51 back/상품 대분류 조회(수정)
  backend/src/main/java/com/example/backend/repository/Product/AdminProductImpl.java
Labels: 💾BackEnd

#59 Back / fix : 변경 도메인 cors 허용
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
Labels: Config, 💾BackEnd, 💡cicd

#60 Dev
  backend/src/main/java/com/example/backend/controller/AdminController.java
  backend/src/main/java/com/example/backend/controller/ProductController.java
  backend/src/main/java/com/example/backend/controller/feed/StyleFeedController.java
  backend/src/main/java/com/example/backend/controller/inquiry/inquiryController.java
  backend/src/main/java/com/example/backend/controller/notice/NoticeController.java
  backend/src/main/java/com/example/backend/dto/admin/ProductRespDto.java
  backend/src/main/java/com/example/backend/dto/product/Detail/BuyingBidResponseDto.java
  backend/src/main/java/com/example/backend/dto/product/Detail/ProductDetailDto.java
  backend/src/main/java/com/example/backend/dto/product/Detail/RecentlyPriceDto.java
  backend/src/main/java/com/example/backend/dto/product/ProductResponseDto.java
  backend/src/main/java/com/example/backend/repository/Product/ProductRepository.java
  backend/src/main/java/com/example/backend/repository/Product/ProductSearch.java
  backend/src/main/java/com/example/backend/repository/Product/ProductSearchImpl.java
  backend/src/main/java/com/example/backend/security/filter/JWTCheckFilter.java
  backend/src/main/java/com/example/backend/security/handler/CustomLoginSuccessHandler.java
  backend/src/main/java/com/example/backend/service/NoticeService.java
  backend/src/main/java/com/example/backend/service/Product/ProductService.java
  backend/src/main/java/com/example/backend/service/Product/ProductServiceImpl.java
  backend/src/main/java/com/example/backend/service/notice/NoticeService.java
  backend/src/main/java/com/example/backend/service/notice/NoticeServiceImpl.java
Labels: 💾BackEnd, 💡cicd

#62 Dev
  backend/build.gradle
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/config/NaverConfig.java
  backend/src/main/java/com/example/backend/controller/ProductController.java
  backend/src/main/java/com/example/backend/controller/feed/StyleFeedController.java
  backend/src/main/java/com/example/backend/dto/admin/ProductRespDto.java
  backend/src/main/java/com/example/backend/dto/mypage/addressSettings/AddressReqDto.java
  backend/src/main/java/com/example/backend/dto/product/ProductResponseDto.java
  backend/src/main/java/com/example/backend/entity/Address.java
  backend/src/main/java/com/example/backend/repository/Product/AdminProduct.java
  backend/src/main/java/com/example/backend/repository/Product/AdminProductImpl.java
  backend/src/main/java/com/example/backend/repository/Product/ProductSearch.java
  backend/src/main/java/com/example/backend/repository/Product/ProductSearchImpl.java
  backend/src/main/java/com/example/backend/service/AdminService.java
  backend/src/main/java/com/example/backend/service/Product/ProductService.java
  backend/src/main/java/com/example/backend/service/Product/ProductServiceImpl.java
  backend/src/main/java/com/example/backend/service/feed/StyleFeedServiceImpl.java
  backend/src/main/java/com/example/backend/service/mypage/AddressService.java
  backend/src/main/java/com/example/backend/service/objectstorage/ObjectStorageService.java
  backend/src/main/java/com/example/backend/service/objectstorage/ObjectStorageServiceImpl.java
Labels: 💾BackEnd, 💡cicd

#63 back/럭키드로우 상품 등록 수정
  backend/src/main/java/com/example/backend/controller/AdminController.java
  backend/src/main/java/com/example/backend/dto/admin/AdminReqDto.java
  backend/src/main/java/com/example/backend/service/AdminService.java
Labels: 💾BackEnd

#64 Feat history
  backend/src/main/java/com/example/backend/controller/MypageController.java
  backend/src/main/java/com/example/backend/dto/mypage/buyHistory/BuyDetailsDto.java
  backend/src/main/java/com/example/backend/dto/mypage/buyHistory/BuyDetailsProcessDto.java
  backend/src/main/java/com/example/backend/dto/mypage/buyHistory/BuyHistoryAllDto.java
  backend/src/main/java/com/example/backend/dto/mypage/main/MypageMainDto.java
  backend/src/main/java/com/example/backend/dto/mypage/saleHistory/SaleHistoryDto.java
  backend/src/main/java/com/example/backend/dto/mypage/saleHistory/SalesStatusCountDto.java
  backend/src/main/java/com/example/backend/entity/Orders.java
  backend/src/main/java/com/example/backend/entity/enumData/OrderStatus.java
  backend/src/main/java/com/example/backend/repository/Bidding/BuyingBiddingRepository.java
  backend/src/main/java/com/example/backend/repository/Bidding/SalesBiddingRepository.java
  backend/src/main/java/com/example/backend/repository/Orders/OrdersRepository.java
  backend/src/main/java/com/example/backend/service/OrdersService.java
  backend/src/main/java/com/example/backend/service/SalesBiddingService.java
  backend/src/main/java/com/example/backend/service/user/UserServiceImpl.java
Labels: ✨ FEAT, 💾BackEnd

#65 Back / fix : AUTHENTICATED_ENDPOINTS 추가
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/security/filter/JWTCheckFilter.java
  backend/src/main/java/com/example/backend/security/handler/CustomLoginSuccessHandler.java
Labels: Config, 🛠FIX

#66 Feat cancel
  backend/src/main/java/com/example/backend/controller/MypageController.java
  backend/src/main/java/com/example/backend/dto/mypage/buyHistory/BuyDetailsProcessDto.java
  backend/src/main/java/com/example/backend/dto/mypage/saleHistory/SaleDetailsDto.java
  backend/src/main/java/com/example/backend/entity/BuyingBidding.java
  backend/src/main/java/com/example/backend/entity/Orders.java
  backend/src/main/java/com/example/backend/entity/SalesBidding.java
  backend/src/main/java/com/example/backend/repository/Bidding/BuyingBiddingRepository.java
  backend/src/main/java/com/example/backend/repository/Bidding/SalesBiddingRepository.java
  backend/src/main/java/com/example/backend/repository/Orders/OrdersRepository.java
  backend/src/main/java/com/example/backend/service/BuyingBiddingService.java
  backend/src/main/java/com/example/backend/service/SalesBiddingService.java
Labels: ✨ FEAT, 💾BackEnd

#67 Dev
  backend/src/main/java/com/example/backend/config/CustomSecurityConfig.java
  backend/src/main/java/com/example/backend/controller/AdminController.java
  backend/src/main/java/com/example/backend/controller/MypageController.java
  backend/src/main/java/com/example/backend/dto/admin/AdminReqDto.java
  backend/src/main/java/com/example/backend/dto/mypage/buyHistory/BuyDetailsDto.java
  backend/src/main/java/com/example/backend/dto/mypage/buyHistory/BuyDetailsProcessDto.java
  backend/src/main/java/com/example/backend/dto/mypage/buyHistory/BuyHistoryAllDto.java
  backend/src/main/java/com/example/backend/dto/mypage/main/MypageMainDto.java
  backend/src/main/java/com/example/backend/dto/mypage/saleHistory/SaleDetailsDto.java
  backend/src/main/java/com/example/backend/dto/mypage/saleHistory/SaleHistoryDto.java
  backend/src/main/java/com/example/backend/dto/mypage/saleHistory/SalesStatusCountDto.java
  backend/src/main/java/com/example/backend/entity/BaseEntity.java
  backend/src/main/java/com/example/backend/entity/BuyingBidding.java
  backend/src/main/java/com/example/backend/entity/Orders.java
  backend/src/main/java/com/example/backend/entity/SalesBidding.java
  backend/src/main/java/com/example/backend/entity/enumData/BiddingStatus.java
  backend/src/main/java/com/example/backend/entity/enumData/SalesStatus.java
  backend/src/main/java/com/example/backend/repository/Bidding/BuyingBiddingRepository.java
  backend/src/main/java/com/example/backend/repository/Bidding/SalesBiddingRepository.java
  backend/src/main/java/com/example/backend/repository/Orders/OrdersRepository.java
  backend/src/main/java/com/example/backend/security/filter/JWTCheckFilter.java
  backend/src/main/java/com/example/backend/security/handler/CustomLoginSuccessHandler.java
  backend/src/main/java/com/example/backend/service/AdminService.java
  backend/src/main/java/com/example/backend/service/BuyingBiddingService.java
  backend/src/main/java/com/example/backend/service/OrdersService.java
  backend/src/main/java/com/example/backend/service/SalesBiddingService.java
  backend/src/main/java/com/example/backend/service/user/UserService.java
  backend/src/main/java/com/example/backend/service/user/UserServiceImpl.java
Labels: 💾BackEnd, 💡cicd

#69 Back / feat : 배송지 수령인 정보 추가
  backend/src/main/java/com/example/backend/dto/mypage/addressSettings/AddressDto.java
  backend/src/main/java/com/example/backend/dto/mypage/addressSettings/AddressReqDto.java
  backend/src/main/java/com/example/backend/entity/Address.java
  backend/src/main/java/com/example/backend/service/mypage/AddressService.java
Labels: ✨ FEAT, 💾BackEnd

#70 Back / feat : 배송지 핸드폰번호 유효성 검사 추가 및 배송지명 삭제
  backend/src/main/java/com/example/backend/dto/mypage/addressSettings/AddressDto.java
  backend/src/main/java/com/example/backend/dto/mypage/addressSettings/AddressReqDto.java
  backend/src/main/java/com/example/backend/entity/Address.java
  backend/src/main/java/com/example/backend/service/mypage/AddressService.java
Labels: ✨ FEAT, 💾BackEnd

#71 back/ 판매입찰 정산, 요청상품 수정 기능 구현 완료
  backend/src/main/java/com/example/backend/controller/AdminController.java
  backend/src/main/java/com/example/backend/controller/MypageController.java
  backend/src/main/java/com/example/backend/dto/admin/AcceptSaleRespDto.java
  backend/src/main/java/com/example/backend/dto/admin/AdminProductRespDto.java
  backend/src/main/java/com/example/backend/dto/admin/AdminReqDto.java
  backend/src/main/java/com/example/backend/dto/admin/AdminRespDto.java
  backend/src/main/java/com/example/backend/dto/admin/ProductReqDto.java
  backend/src/main/java/com/example/backend/dto/mypage/accountSettings/SalesSummaryDto.java
  backend/src/main/java/com/example/backend/dto/mypage/accountSettings/SalesSummaryRespDto.java
  backend/src/main/java/com/example/backend/entity/Product.java
  backend/src/main/java/com/example/backend/repository/Bidding/SalesBiddingRepository.java
  backend/src/main/java/com/example/backend/repository/Orders/OrdersCustom.java
  backend/src/main/java/com/example/backend/repository/Orders/OrdersCustomImpl.java
  backend/src/main/java/com/example/backend/repository/Orders/OrdersRepository.java
  backend/src/main/java/com/example/backend/service/AdminService.java
Labels: 💾BackEnd

#72 Feat profile img
  backend/src/main/java/com/example/backend/controller/MypageController.java
  backend/src/main/java/com/example/backend/controller/UserController.java
  backend/src/main/java/com/example/backend/entity/Users.java
  backend/src/main/java/com/example/backend/service/user/UserService.java
Labels: ✨ FEAT, 💾BackEnd

#73 Back / fix : 비밀번호 제외 프로필 수정시 재로그인 안되는 오류 수정 (Dto 분리)
  backend/src/main/java/com/example/backend/controller/MypageController.java
  backend/src/main/java/com/example/backend/dto/user/UserModifyReqDto.java
  backend/src/main/java/com/example/backend/dto/user/UserModifyResDto.java
  backend/src/main/java/com/example/backend/entity/Users.java
  backend/src/main/java/com/example/backend/service/user/UserService.java
Labels: ✨ FEAT, 💾BackEnd, 🛠FIX

#76 Back / feat: refresh토큰 기능 구현
  backend/src/main/java/com/example/backend/controller/UserController.java
  backend/src/main/java/com/example/backend/security/filter/JWTCheckFilter.java
  backend/src/main/java/com/example/backend/security/handler/CustomAccessDeniedHandler.java
  backend/src/main/java/com/example/backend/security/handler/CustomLoginSuccessHandler.java
Labels: ✨ FEAT, 💾BackEnd

#77 Back / feat: refresh토큰 재발급 시 redis 업데이트
  backend/src/main/java/com/example/backend/repository/User/RefreshTokenRepository.java
  backend/src/main/java/com/example/backend/service/user/RefreshTokenService.java
Labels: ✨ FEAT, 💾BackEnd

#78 Back / refactor: JWT 관련 파일 중복 코드 정리 및 로그 삭제
  backend/src/main/java/com/example/backend/controller/UserController.java
  backend/src/main/java/com/example/backend/security/JWTUtil.java
  backend/src/main/java/com/example/backend/security/filter/JWTCheckFilter.java
  backend/src/main/java/com/example/backend/security/handler/CustomLoginSuccessHandler.java
Labels: ⚙️ REFACTOR, 💾BackEnd

#79 Back / feat: 로그아웃 시 refreshToken 제거 및 accessToken 블랙리스트 등록
  backend/src/main/java/com/example/backend/controller/UserController.java
  backend/src/main/java/com/example/backend/repository/User/RefreshTokenRepository.java
  backend/src/main/java/com/example/backend/repository/User/TokenRepository.java
  backend/src/main/java/com/example/backend/security/filter/JWTCheckFilter.java
  backend/src/main/java/com/example/backend/security/handler/CustomLoginSuccessHandler.java
  backend/src/main/java/com/example/backend/service/user/RefreshTokenService.java
  backend/src/main/java/com/example/backend/service/user/TokenBlacklistService.java
Labels: ✨ FEAT, 💾BackEnd

#80 Back / feat: 배송지 등록 및 수정 시, 반드시 하나의 기본 배송지가 존재하도록 수정
  backend/src/main/java/com/example/backend/controller/MypageController.java
  backend/src/main/java/com/example/backend/dto/mypage/addressSettings/AddressReqDto.java
  backend/src/main/java/com/example/backend/entity/Address.java
  backend/src/main/java/com/example/backend/repository/mypage/AddressRepository.java
  backend/src/main/java/com/example/backend/service/mypage/AddressService.java
Labels: ✨ FEAT, 💾BackEnd

#81 Back / feat: 회원탈퇴 기능 추가
  backend/src/main/java/com/example/backend/controller/UserController.java
  backend/src/main/java/com/example/backend/entity/Users.java
  backend/src/main/java/com/example/backend/exception/CustomUserException.java
  backend/src/main/java/com/example/backend/security/handler/CustomLoginFailHandler.java
  backend/src/main/java/com/example/backend/service/user/CustomUserDetailsService.java
  backend/src/main/java/com/example/backend/service/user/UserService.java
Labels: ✨ FEAT, 💾BackEnd
